@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;900&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;900&family=Josefin+Sans:wght@700&family=Permanent+Marker&family=Rowdies&family=Shadows+Into+Light&display=swap');

.my-photo {
  height: 90%;
  width: 70%;
  text-align: center;
  color: rgb(179, 178, 178);
  position: absolute;
  background-image: url("./myphoto.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("./myphoto.jpg");
}

.main {
  display: flex;
  position: static;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #161616;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

.title-welcome {
  top: -5%;
  right: 40%;
  position: relative;
  font-size: 150px;
  font-family: 'Shadows Into Light', cursive;
  animation: fadeInLeft 1s;
}

.title-name {
  top : -35%;
  left: 20%;
  position: relative;
  animation: fadeInUp 1s;
  font-family: 'Shadows Into Light', cursive;
  font-size: 70px;
}

.title-developer {
  top : -57%;
  position: relative;
  animation: fadeInUp 1s;
  font-family: 'Rowdies', cursive;
  font-size: 140px;
}

.title-portfolio {
  bottom: 85%;
  left: 40%;
  position: relative;
  animation: fadeInRight 1s;
  font-family: 'Shadows Into Light', cursive;
  font-size: 150px;
}

.heart {
  width: 15%;
}

